// flex
%df {
  display: flex;
}

%df1 {
  flex: 1;
}

%dfn {
  flex: none;
}

%dfa {
  flex: auto;
}

%ais {
  align-items: flex-start;
}

%aic {
  align-items: center;
}

%aie {
  align-items: flex-end;
}

%jcs {
  justify-content: space-between;
}

%jcc {
  justify-content: center;
}

%jce {
  justify-content: flex-end;
}

%fdc {
  flex-direction: column;
}

%fww {
  flex-wrap: wrap;
}

%fs0 {
  flex-shrink: 0;
}

// position
%pa {
  position: absolute;
}

%pr {
  position: relative;
}

%pf {
  position: fixed;
}

%ps {
  position: sticky;
}

%l0 {
  left: 0;
}

%r0 {
  right: 0;
}

%b0 {
  bottom: 0;
}

%t0 {
  top: 0;
}

%w100 {
  width: 100%;
}

%h100 {
  height: 100%;
}

%t50 {
  top: 50%;
}

%l50 {
  left: 50%;
}

%oya {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

%wan {
  -webkit-appearance: none;
}

%ost {
  -webkit-overflow-scrolling: touch;
}

%lh1 {
  line-height: 1;
}

%bsb {
  box-sizing: border-box;
}

%pen {
  pointer-events: none;
}

%thc0 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

%wsn {
  white-space: nowrap;
}

%dif {
  display: inline-flex;
}

%dib {
  display: inline-block;
}

%db {
  display: block;
}

%dn {
  display: none;
}

%of {
  overflow: hidden;
  zoom: 1;
}

%vam {
  vertical-align: middle;
}

%bn {
  border: none 0;
}

%fnone {
  line-height: 800px;
  @extend %oh;
}

%tint {
  text-indent: -999em;
  @extend %oh;
}

%clearfix {
  zoom: 1;
}

%clearfix:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
}

%fl {
  float: left;
}

%fr {
  float: right;
}

%ma {
  margin: 0 auto;
}

%oh {
  overflow: hidden;
}

%tac {
  text-align: center;
}

%tar {
  text-align: right;
}

%fwb {
  font-weight: bold;
}

%fwn {
  font-weight: normal;
}

%cp {
  cursor: pointer;
}

%ao8 {
  &:active {
    opacity: 0.8;
  }
}

%usn {
  user-select: none;
}

%tdn {
  text-decoration: none;
}

%tdu {
  text-decoration: underline;
}

%f12 {
  font-size: 12px;
}

%f14 {
  font-size: 14px;
}

%f16 {
  font-size: 16px;
}

%f18 {
  font-size: 18px;
}

%f20 {
  font-size: 20px;
}

%f22 {
  font-size: 22px;
}

%cfff {
  color: #fff;
}

%c3 {
  color: #333;
}

%cc {
  color: #ccc;
}

%c6 {
  color: #666;
}

%c9 {
  color: #999;
}

%on {
  outline: none;
}

%m0 {
  margin: 0;
}

%p0 {
  padding: 0;
}

%bfff {
  background: #fff;
}

%twno {
  @extend %oh;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%br50 {
  border-radius: 50%;
}

%dan {
  &:after {
    @extend %dn;
  }
}

%dbn {
  &:before {
    @extend %dn;
  }
}

%ofc {
  object-fit: cover;
  object-position: center;
}
