/* Error: Undefined mixin.
 *     ,
 * 33  | / @include b(dropdown){
 * 34  | |   @extend %pa;
 * 35  | |   //@extend %bsb;
 * 36  | |   //z-index: 1030;
 * 37  | |   //
 * 38  | |   //@include e(content){
 * 39  | |   //  @extend %pr;
 * 40  | |   //  min-width: 160px;
 * 41  | |   //  background-color: #202931;
 * 42  | |   //  border-radius: 6px;
 * 43  | |   //  padding: 10px 0;
 * 44  | |   //  box-shadow: 1px 10px 20px rgba(32, 41, 49, .5);
 * 45  | |   //  &:before{
 * 46  | |   //    @extend %pa;
 * 47  | |   //    content: '';
 * 48  | |   //    width: 0;
 * 49  | |   //    height: 0;
 * 50  | |   //    border-width: 7px;
 * 51  | |   //    border-style: solid;
 * 52  | |   //    border-color: transparent;
 * 53  | |   //  }
 * 54  | |   //}
 * 55  | | 
 * 56  | |   @include e(placement) {
 * 57  | |     position: relative;
 * 58  | |     @include m(topLeft){
 * 59  | |       @include placement(auto, auto, -14px, 16px);
 * 60  | |       //animation-name: dropdownInDown;
 * 61  | |       @include e(content, true) {
 * 62  | |         &:before{
 * 63  | |           border-top-color: #202931;
 * 64  | |         }
 * 65  | |       }
 * 66  | |     }
 * 67  | |     //@include m(topCenter){
 * 68  | |     //  @include placement(auto, auto, -14px, 50%);
 * 69  | |     //  animation-name: dropdownInDown;
 * 70  | |     //  @include e(content) {
 * 71  | |     //    &:before{
 * 72  | |     //      @include tft(translate3d(-50%, 0, 0));
 * 73  | |     //      border-top-color: #202931;
 * 74  | |     //    }
 * 75  | |     //  }
 * 76  | |     //}
 * 77  | |     //@include m(topRight){
 * 78  | |     //  @include placement(auto, 16px, -14px, auto);
 * 79  | |     //  animation-name: dropdownInDown;
 * 80  | |     //  @include e(content) {
 * 81  | |     //    &:before{
 * 82  | |     //      border-top-color: #202931;
 * 83  | |     //    }
 * 84  | |     //  }
 * 85  | |     //}
 * 86  | |     //@include m(bottomLeft){
 * 87  | |     //  @include placement(-14px, auto, auto, 16px);
 * 88  | |     //  animation-name: dropdownInUp;
 * 89  | |     //  @include e(content) {
 * 90  | |     //    &:before{
 * 91  | |     //      border-bottom-color: #202931;
 * 92  | |     //    }
 * 93  | |     //  }
 * 94  | |     //}
 * 95  | |     //@include m(bottomCenter){
 * 96  | |     //  @include placement(-14px, auto, auto, 50%);
 * 97  | |     //  animation-name: dropdownInUp;
 * 98  | |     //  @include e(content) {
 * 99  | |     //    &:before{
 * 100 | |     //      @include tft(translate3d(-50%, 0, 0));
 * 101 | |     //      border-bottom-color: #202931;
 * 102 | |     //    }
 * 103 | |     //  }
 * 104 | |     //}
 * 105 | |     //@include m(bottomRight){
 * 106 | |     //  @include placement(-14px, 16px, auto, auto);
 * 107 | |     //  animation-name: dropdownInUp;
 * 108 | |     //  @include e(content) {
 * 109 | |     //    &:before{
 * 110 | |     //      border-bottom-color: #202931;
 * 111 | |     //    }
 * 112 | |     //  }
 * 113 | |     //}
 * 114 | |   }
 * 115 | | 
 * 116 | |   //@include e(hidden) {
 * 117 | |   //  @extend %dn;
 * 118 | |   //}
 * 119 | |   //
 * 120 | |   //@include e(divider) {
 * 121 | |   //  @extend %oh;
 * 122 | |   //  height: 0;
 * 123 | |   //  margin: 10px 0;
 * 124 | |   //  border-top: 1px solid $dropdown-divider-border-color;
 * 125 | |   //}
 * 126 | |   //
 * 127 | |   //@include e(item){
 * 128 | |   //  @extend %db;
 * 129 | |   //  @extend %bsb;
 * 130 | |   //  @extend %cp;
 * 131 | |   //  @extend %w100;
 * 132 | |   //  @include tst(all, .3s);
 * 133 | |   //  padding: 8px 16px;
 * 134 | |   //  font-weight: 400;
 * 135 | |   //  color: #aebcca;
 * 136 | |   //  text-align: inherit;
 * 137 | |   //  white-space: nowrap;
 * 138 | |   //  background-color: transparent;
 * 139 | |   //  border: 0;
 * 140 | |   //  &:hover{
 * 141 | |   //    @extend %cfff;
 * 142 | |   //    background-color: #000;
 * 143 | |   //  }
 * 144 | |   //
 * 145 | |   //  @include b(icon){
 * 146 | |   //    &:first-child{
 * 147 | |   //      margin-right: 5px;
 * 148 | |   //    }
 * 149 | |   //  }
 * 150 | |   //
 * 151 | |   //  @include when(icon-only) {
 * 152 | |   //    @include b(icon){
 * 153 | |   //      &:first-child{
 * 154 | |   //        margin-right: 0;
 * 155 | |   //      }
 * 156 | |   //    }
 * 157 | |   //  }
 * 158 | |   //
 * 159 | |   //  @include when(loading) {
 * 160 | |   //    @extend %pr;
 * 161 | |   //    @extend %pen;
 * 162 | |   //    &:before {
 * 163 | |   //      @extend %pen;
 * 164 | |   //      @extend %pa;
 * 165 | |   //      content: '';
 * 166 | |   //      left: -1px;
 * 167 | |   //      top: -1px;
 * 168 | |   //      right: -1px;
 * 169 | |   //      bottom: -1px;
 * 170 | |   //      border-radius: inherit;
 * 171 | |   //      background-color: rgba(255,255,255, .05);
 * 172 | |   //    }
 * 173 | |   //  }
 * 174 | |   //
 * 175 | |   //  @include when(disabled) {
 * 176 | |   //    &,
 * 177 | |   //    &:hover,
 * 178 | |   //    &:focus {
 * 179 | |   //      color: $color-text-placeholder;
 * 180 | |   //      cursor: not-allowed;
 * 181 | |   //      background-image: none;
 * 182 | |   //      background-color: rgba(255,255,255, .1);
 * 183 | |   //    }
 * 184 | |   //  }
 * 185 | |   //
 * 186 | |   //}
 * 187 | | 
 * 188 | \ }
 *     '
 *   examples/sass/index.scss 33:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 33  \2502  \250c  @include b(dropdown){\a 34  \2502  \2502    @extend %pa;\a 35  \2502  \2502    //@extend %bsb;\a 36  \2502  \2502    //z-index: 1030;\a 37  \2502  \2502    //\a 38  \2502  \2502    //@include e(content){\a 39  \2502  \2502    //  @extend %pr;\a 40  \2502  \2502    //  min-width: 160px;\a 41  \2502  \2502    //  background-color: #202931;\a 42  \2502  \2502    //  border-radius: 6px;\a 43  \2502  \2502    //  padding: 10px 0;\a 44  \2502  \2502    //  box-shadow: 1px 10px 20px rgba(32, 41, 49, .5);\a 45  \2502  \2502    //  &:before{\a 46  \2502  \2502    //    @extend %pa;\a 47  \2502  \2502    //    content: '';\a 48  \2502  \2502    //    width: 0;\a 49  \2502  \2502    //    height: 0;\a 50  \2502  \2502    //    border-width: 7px;\a 51  \2502  \2502    //    border-style: solid;\a 52  \2502  \2502    //    border-color: transparent;\a 53  \2502  \2502    //  }\a 54  \2502  \2502    //}\a 55  \2502  \2502  \a 56  \2502  \2502    @include e(placement) {\a 57  \2502  \2502      position: relative;\a 58  \2502  \2502      @include m(topLeft){\a 59  \2502  \2502        @include placement(auto, auto, -14px, 16px);\a 60  \2502  \2502        //animation-name: dropdownInDown;\a 61  \2502  \2502        @include e(content, true) {\a 62  \2502  \2502          &:before{\a 63  \2502  \2502            border-top-color: #202931;\a 64  \2502  \2502          }\a 65  \2502  \2502        }\a 66  \2502  \2502      }\a 67  \2502  \2502      //@include m(topCenter){\a 68  \2502  \2502      //  @include placement(auto, auto, -14px, 50%);\a 69  \2502  \2502      //  animation-name: dropdownInDown;\a 70  \2502  \2502      //  @include e(content) {\a 71  \2502  \2502      //    &:before{\a 72  \2502  \2502      //      @include tft(translate3d(-50%, 0, 0));\a 73  \2502  \2502      //      border-top-color: #202931;\a 74  \2502  \2502      //    }\a 75  \2502  \2502      //  }\a 76  \2502  \2502      //}\a 77  \2502  \2502      //@include m(topRight){\a 78  \2502  \2502      //  @include placement(auto, 16px, -14px, auto);\a 79  \2502  \2502      //  animation-name: dropdownInDown;\a 80  \2502  \2502      //  @include e(content) {\a 81  \2502  \2502      //    &:before{\a 82  \2502  \2502      //      border-top-color: #202931;\a 83  \2502  \2502      //    }\a 84  \2502  \2502      //  }\a 85  \2502  \2502      //}\a 86  \2502  \2502      //@include m(bottomLeft){\a 87  \2502  \2502      //  @include placement(-14px, auto, auto, 16px);\a 88  \2502  \2502      //  animation-name: dropdownInUp;\a 89  \2502  \2502      //  @include e(content) {\a 90  \2502  \2502      //    &:before{\a 91  \2502  \2502      //      border-bottom-color: #202931;\a 92  \2502  \2502      //    }\a 93  \2502  \2502      //  }\a 94  \2502  \2502      //}\a 95  \2502  \2502      //@include m(bottomCenter){\a 96  \2502  \2502      //  @include placement(-14px, auto, auto, 50%);\a 97  \2502  \2502      //  animation-name: dropdownInUp;\a 98  \2502  \2502      //  @include e(content) {\a 99  \2502  \2502      //    &:before{\a 100 \2502  \2502      //      @include tft(translate3d(-50%, 0, 0));\a 101 \2502  \2502      //      border-bottom-color: #202931;\a 102 \2502  \2502      //    }\a 103 \2502  \2502      //  }\a 104 \2502  \2502      //}\a 105 \2502  \2502      //@include m(bottomRight){\a 106 \2502  \2502      //  @include placement(-14px, 16px, auto, auto);\a 107 \2502  \2502      //  animation-name: dropdownInUp;\a 108 \2502  \2502      //  @include e(content) {\a 109 \2502  \2502      //    &:before{\a 110 \2502  \2502      //      border-bottom-color: #202931;\a 111 \2502  \2502      //    }\a 112 \2502  \2502      //  }\a 113 \2502  \2502      //}\a 114 \2502  \2502    }\a 115 \2502  \2502  \a 116 \2502  \2502    //@include e(hidden) {\a 117 \2502  \2502    //  @extend %dn;\a 118 \2502  \2502    //}\a 119 \2502  \2502    //\a 120 \2502  \2502    //@include e(divider) {\a 121 \2502  \2502    //  @extend %oh;\a 122 \2502  \2502    //  height: 0;\a 123 \2502  \2502    //  margin: 10px 0;\a 124 \2502  \2502    //  border-top: 1px solid $dropdown-divider-border-color;\a 125 \2502  \2502    //}\a 126 \2502  \2502    //\a 127 \2502  \2502    //@include e(item){\a 128 \2502  \2502    //  @extend %db;\a 129 \2502  \2502    //  @extend %bsb;\a 130 \2502  \2502    //  @extend %cp;\a 131 \2502  \2502    //  @extend %w100;\a 132 \2502  \2502    //  @include tst(all, .3s);\a 133 \2502  \2502    //  padding: 8px 16px;\a 134 \2502  \2502    //  font-weight: 400;\a 135 \2502  \2502    //  color: #aebcca;\a 136 \2502  \2502    //  text-align: inherit;\a 137 \2502  \2502    //  white-space: nowrap;\a 138 \2502  \2502    //  background-color: transparent;\a 139 \2502  \2502    //  border: 0;\a 140 \2502  \2502    //  &:hover{\a 141 \2502  \2502    //    @extend %cfff;\a 142 \2502  \2502    //    background-color: #000;\a 143 \2502  \2502    //  }\a 144 \2502  \2502    //\a 145 \2502  \2502    //  @include b(icon){\a 146 \2502  \2502    //    &:first-child{\a 147 \2502  \2502    //      margin-right: 5px;\a 148 \2502  \2502    //    }\a 149 \2502  \2502    //  }\a 150 \2502  \2502    //\a 151 \2502  \2502    //  @include when(icon-only) {\a 152 \2502  \2502    //    @include b(icon){\a 153 \2502  \2502    //      &:first-child{\a 154 \2502  \2502    //        margin-right: 0;\a 155 \2502  \2502    //      }\a 156 \2502  \2502    //    }\a 157 \2502  \2502    //  }\a 158 \2502  \2502    //\a 159 \2502  \2502    //  @include when(loading) {\a 160 \2502  \2502    //    @extend %pr;\a 161 \2502  \2502    //    @extend %pen;\a 162 \2502  \2502    //    &:before {\a 163 \2502  \2502    //      @extend %pen;\a 164 \2502  \2502    //      @extend %pa;\a 165 \2502  \2502    //      content: '';\a 166 \2502  \2502    //      left: -1px;\a 167 \2502  \2502    //      top: -1px;\a 168 \2502  \2502    //      right: -1px;\a 169 \2502  \2502    //      bottom: -1px;\a 170 \2502  \2502    //      border-radius: inherit;\a 171 \2502  \2502    //      background-color: rgba(255,255,255, .05);\a 172 \2502  \2502    //    }\a 173 \2502  \2502    //  }\a 174 \2502  \2502    //\a 175 \2502  \2502    //  @include when(disabled) {\a 176 \2502  \2502    //    &,\a 177 \2502  \2502    //    &:hover,\a 178 \2502  \2502    //    &:focus {\a 179 \2502  \2502    //      color: $color-text-placeholder;\a 180 \2502  \2502    //      cursor: not-allowed;\a 181 \2502  \2502    //      background-image: none;\a 182 \2502  \2502    //      background-color: rgba(255,255,255, .1);\a 183 \2502  \2502    //    }\a 184 \2502  \2502    //  }\a 185 \2502  \2502    //\a 186 \2502  \2502    //}\a 187 \2502  \2502  \a 188 \2502  \2514  }\a     \2575 \a   examples/sass/index.scss 33:1  root stylesheet";
}
