@use "sass:string";
@use "../../src/index.scss" as *;

@debug string.insert("Roboto Bold", " Mono", 7);

.#{string.quote("Roboto Bold")} {
  color: #000;
}

.box {
  @extend %df;
  background-color: red;

  @include res("xs") {
    height: 100px;
  }
}
