.xx {
  display: flex;
}

.xx {
  flex: 1;
}

.xx {
  align-items: center;
}

.xx {
  justify-content: center;
}

.xx {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFyMjI////1tbWF77ztQAAABZJREFUeJxjYGAIDWUggggNbWAgggAA918Ooanz2WEAAAAASUVORK5CYII=) center !important;
  background-size: j(8) !important;
}

@media (max-width: 639px) {
  .xx {
    color: red;
  }
}

@media (max-width: 639px) {
  .box {
    height: 100px;
  }

  .xx {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAlQTFRFyMjI////1tbWF77ztQAAABZJREFUeJxjYGAIDWUggggNbWAgggAA918Ooanz2WEAAAAASUVORK5CYII=) center !important;
    background-size: j(8) !important;
  }
}
